* {
    box-sizing: border-box;
}
body{
    text-align: center;
}
h1{
    font-size: 3em;
    margin-top: 1%;
    margin-bottom: 1%;
}
#sudoku-container{
    display: flex;
}
#buttons{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
    width: 20%;
    margin-left: 3%;
    margin-right: 3%;
}
table, td{
    border: 1px solid black;
    border-spacing:0;
}
table{
    width:50%;;
    border-width:0.2vw;
    margin-left:auto;
    height:-20vw;
}
td{
    width: 1.2em;
    height: 1.7em;
    padding: 1%;
    font-size:3vw;
    text-align: center;
}
.row td{
    border-bottom-width: 0.5vw;
}
.col{
    border-right-width: 0.5vw;
}
input{
    width:4vw;
    border:none;
    font-size:3vw;
    text-align: center;
    color:rgb(102, 102, 102);
    font-style:italic;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#diffDrop{
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid var(--select-border);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    font-size: 1.25rem;
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
button{
    display: inline-block;
    outline: 0;
    cursor: pointer;
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 6px;
    color: #24292e;
    background-color: #fafbfc;
    border-color: #1b1f2326;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
    transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    transition-property: color, background-color, border-color;
    width: 100%;
}
button:hover{
    background-color: #f3f4f6;
    border-color: #1b1f2326;
    transition-duration: 0.1s;
}
button a{
    text-decoration: none;
    color: #24292e;
    display: block;
}
.overlay {
    position: fixed;
    top: -50vw;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: visibility 0.33s, top 0.33s linear;
    opacity: 1;
    visibility: hidden;
}
.overlay.active{
    visibility: visible;
    transition: visibility 0s, top 0.33s linear;
    z-index: 5;
    top: 0;
}

.popup {
    display: grid;
    gap: 5%;
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    height: 35%;
    position: relative;
    transition: all 5s ease-in-out;
}
.popup .close {
    width: 100%;
    justify-content: flex-end;
    display: flex;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: black;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}
.switches-container {
    --switches-bg-color: gray;
    --switches-label-color: white ;
    --switch-bg-color: white;
    --switch-text-color: gray ;
    width: 16rem;
    position: relative;
    display: flex;
    padding: 0;
    position: relative;
    background: var(--switches-bg-color);
    line-height: 3rem;
    border-radius: 3rem;
    margin-left: auto;
    margin-right: auto;
}
.switches-container div{
    cursor: pointer;
}
.switches-container input {
    visibility: hidden;
    position: absolute;
    top: 0;
}
.switches-container label {
    width: 50%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    color: var(--switches-label-color);
}
.switch-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    padding: 0.15rem;
    z-index: 3;
    transition: transform .5s cubic-bezier(.77, 0, .175, 1);
}
.switch {
    border-radius: 3rem;
    background: var(--switch-bg-color);
    height: 100%;
}
.switch div {
    width: 100%;
    text-align: center;
    opacity: 0;
    display: block;
    color: var(--switch-text-color) ;
    transition: opacity .2s cubic-bezier(.77, 0, .175, 1) .125s;
    will-change: opacity;
    position: absolute;
    top: 0;
    left: 0;
}
.switches-container input:nth-of-type(1):checked~.switch-wrapper {
    transform: translateX(0%);
}
.switches-container input:nth-of-type(2):checked~.switch-wrapper {
    transform: translateX(100%);
}
.switches-container input:nth-of-type(1):checked~.switch-wrapper .switch div:nth-of-type(1) {
    opacity: 1;
}
.switches-container input:nth-of-type(2):checked~.switch-wrapper .switch div:nth-of-type(2) {
    opacity: 1;
}
@media screen and (max-width:1300px) and (orientation:portrait){
    body{
        padding: 2%;
    }
    h1{
        font-size: 8vw;
    }
    h2{
        display: none;
    }
    #sudoku-container{
        display: block;
    }
    #buttons{
        display: block;
        width: 100%;
        margin: 0;
    }
    #diffDrop{
        width:100%;
        font-size:5vw;
        margin-bottom:5%;
        text-align: center;
    }
    #diffDrop option{
        font-size:2vw;
    }
    table{
        width:100%;
        height:90vw;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    td{
        font-size:6vw;
    }
    input{
        font-size:6vw;
        width:7vw;
    }
    button{
        margin-top:1%;
        width:49.75%;
        height:15vw;
        font-size:5vw;
    }
    .popup{
        width: 80%;
        height: 70%;
    }
    .popup .close{
        font-size: 10vw;
    }
    .popup button{
        width: 90%;
    }
    .switches-container{
        width: 90%;
        line-height: 7rem;
        font-size: 4vw;
        margin-bottom: 3vw;
    }
}